header{
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    height: 120px;
    background-size: 25%;
}

.logo{
    height: 50px;
}

.author-link{
    color: #20A9E5;
}

.intestazione{
    color: #808080;  
  }
  
.data{
    color: #808080;
}

.cell-bigger{
    width: 75%;
}

.prima-riga{
    background-color: #20A9E5;
    color: white;
}

.seconda-riga{
    background-color: #B1E5F2;
}

.terza-riga{
    background-color: #B1E5F2 ;
}

.interessi{
    color: #808080;
}

.box-img{
    background-image: url('../img/monitor.jpg');
    width: 300px;
    height: 200px;
    color: white;

}

.box-img2{
    background-image: url('../img/graph.jpg');
    width: 300px;
    height: 200px;
    color: white;

}