header{
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    height: 120px;
    background-size: 25%;
}

.logo{
    height: 50px;
}

.author-link{
    color: #20A9E5;
}

.intestazione{
    color: #808080;  
  }
  
.data{
    color: #808080;
}